<nav class="toc user-select-none" aria-label="Table of Contents">
  <a class="title" href="#">
    Drawing a Tree on Canvas with XY Coordinates
  </a>
  <ul>
    <li>
      <a href="#original-mrm-problem">
        Original MRM Problem
      </a>
      <ul>
        <li>
          <a href="#other-kinds-of-trees">
            Other Kinds of Trees
          </a>
        </li>
        <li>
          <a href="#tree-data-structure">
            Tree Data Structure
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#development">
        Development
      </a>
      <ul>
        <li>
          <a href="#getting-started">
            Getting Started
          </a>
          <ul>
            <li>
              <a href="#resources">
                Resources
              </a>
              <ul>
                <li>
                  <a href="#other-resources">
                    Other Resources
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <a href="#tree-model">
            Tree Model
          </a>
        </li>
        <li>
          <a href="#canvas-design">
            Canvas Design
          </a>
        </li>
        <li>
          <a href="#drawing-the-axes">
            Drawing the Axes
          </a>
        </li>
        <li>
          <a href="#drawing-the-tree">
            Drawing the Tree
          </a>
          <ul>
            <li>
              <a href="#drawing-a-node">
                Drawing a Node
              </a>
            </li>
            <li>
              <a href="#node-circle-and-content">
                Node Circle and Content
              </a>
            </li>
            <li>
              <a href="#line-with-labels-from-node-to-node">
                Line with Labels from Node-to-Node
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#enhancing-rendering-sizes">
            Enhancing Rendering Sizes
          </a>
        </li>
        <li>
          <a href="#result">
            Result
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#analysis">
        Analysis
      </a>
      <ul>
        <li>
          <a href="#memoization">
            Memoization
          </a>
        </li>
        <li>
          <a href="#order-of-rendering">
            Order of Rendering
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#more-recursion">
        More Recursion
      </a>
      <ul>
        <li>
          <a href="#caveats-on-recursion">
            Caveats on Recursion
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#solution-tree-feature">
        Solution Tree Feature
      </a>
    </li>
  </ul>
</nav>